// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
@use './app/pages/material-page/material-page.component.theme' as material-page;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$indigo-pink-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$indigo-palette),
            accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
            warn: mat.define-palette(mat.$red-palette),
        ),
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($indigo-pink-theme);
@include material-page.theme($indigo-pink-theme);

.indigo-pink-theme {
    // Nothing to do. This is the default theme
}

.deeppurple-amber-theme {
    $deeppurple-amber-theme: mat.define-light-theme(
        (
            color: (
                primary: mat.define-palette(mat.$deep-purple-palette),
                accent: mat.define-palette(mat.$amber-palette, A200, A100, A400),
            ),
        )
    );
    @include mat.all-component-colors($deeppurple-amber-theme);
    @include material-page.theme($deeppurple-amber-theme);
}

.pink-bluegrey-theme {
    $pink-bluegrey-theme: mat.define-dark-theme(
        (
            color: (
                primary: mat.define-palette(mat.$pink-palette, 700, 500, 900),
                accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400),
            ),
        )
    );
    @include mat.all-component-colors($pink-bluegrey-theme);
    @include material-page.theme($pink-bluegrey-theme);
}

.purple-green-theme {
    $purple-green-theme: mat.define-dark-theme(
        (
            color: (
                primary: mat.define-palette(mat.$purple-palette, 700, 500, 800),
                accent: mat.define-palette(mat.$green-palette, A200, A100, A400),
            ),
        )
    );
    @include mat.all-component-colors($purple-green-theme);
    @include material-page.theme($purple-green-theme);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

#container{
    border-radius: 100px;
    height: 350px;
    width: 500px;
}

#containerBoard {
    border-radius: 100px;
    height: 350px;
    width: 500px;
}

.modalTitle{
    text-align: center;
}
.modalTitle h1{
    font-weight: bold;
}

.editForm{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
}

.editForm input{
    border-radius: 10px;
    height: 25px;
    margin-bottom: 10px;
}

#mat-dialog-0{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border-spacing: 2px;
}

#submitForm {
    height: 50px;
    width: 120px;
    top: 10px;
    // position: fixed;
    border-radius: 5px;
    align-self: center;
    margin-top: 50px;
    font-weight: bold;
}

body {
    background-color: wheat;
    // color: #0c483f;
    border-color: #0c483f;
    #container {
        background-color: wheat;
    }
    #main {
        background-color: wheat;
    }
    button {
        background-color: #0C483F;
        color: wheat;
        border-color: wheat;
        border: wheat;
    }
    .mat-button {
        background-color: #0c483f;
        color: wheat;
        border-color: wheat;
        border: wheat;
    }
    input {
        background-color: wheat;
        color: #0c483f;
        border-color: #0c483f;
    }
    .mat-raised-button {
        background-color: #0c483f;
        color: wheat;
        border-color: wheat;
        border: wheat;
    }
    mat-button {
        background-color: #0c483f;
        color: wheat;
        border-color: wheat;
        border: wheat;
    }
    .card {
        background-color: wheat;
        color: #0c483f;
        border-color: #0c483f;
    }
    .mat-dialog-container, .modal{
        background-color: wheat;
        color: #0c483f;
        border-color: #0c483f;
    }
    mat-form-field {
        color: #0c483f;
    }
    mat-label {
        color: #0c483f;
    }
    .mat-select-arrow {
        color: #0c483f;
    }
    .mat-select-value {
        color: #0c483f;
    }
    td {
        border: wheat;
        border-color: wheat;
    }
    .flip-card-front {
        background-color: wheat;
        color: #0c483f;
    }
    .flip-card-back {
        background-color: wheat;
        color: #0c483f;
    }
    .material-symbols-outlined {
        background-color: #0c483f;
        color: wheat;
    }
    .gridContainerInGame {
        background-color: #0c483f;
    }
    #containerBoard {
        background-color: #0c483f;
    }
    .playerName {
        color: wheat;
    }
    .MPButton {
        color: #0c483f;
    }
    mat-grid-list {
        background-color: #0c483f;
        color: wheat;
    }
    .mat-progress-spinner circle, .mat-spinner circle{
        stroke: #0c483f;
    }
    ::-webkit-scrollbar-track {
        background: wheat;
    }
    ::-webkit-scrollbar-thumb {
        background: #0C483F;
    }
}

body.my-dark-mode {
    transition: color 1s ease;
    background-color: #0c483f;
    color: wheat;
    border-color: wheat;
    #container {
        background-color: #0c483f;
    }
    #main {
        background-color: #0c483f;
    }
    button {
        background-color: wheat;
        color: #0c483f;
        border-color: #0c483f;
        border: #0C483F;
    }
    mat-button {
        background-color: wheat;
        color: #0c483f;
        border-color: #0c483f;
        border: #0C483F;
    }
    input {
        background-color:#0c483f;
        color: wheat;
        border-color: wheat;
    }
    .mat-dialog-container {
        background-color: #0c483f;
        color: wheat;
        border-color: wheat;
    }
    .modal{
        color: #0c483f;
    }
    .modal-content{
        background-color: wheat;
        color: #0c483f;
    }
    .card {
        background-color: #0c483f;
        color: wheat;
        border-color: wheat;
    }
    td {
        border: #0c483f;
        border-color: #0c483f;
    }
    #timer {
        background-color: #0c483f;
        color: wheat;
    }
    #align{
        background-color: #0c483f;
        color: wheat;
    }
    mat-form-field {
        color: wheat;
    }
    .mat-select-value {
        color: wheat;
    }
    mat-label {
        color: wheat;
    }
    mat-grid-list {
        background-color: wheat;
        color: #0c483f;
    }
    .MPButton {
        color: #0c483f;
    }
    .mat-select-arrow {
        color: wheat;
    }
    .flip-card-front {
        background-color: #0c483f;
        color: wheat;
    }
    .flip-card-back {
        background-color: #0c483f;
        color: wheat;
    }
    .gridContainerInGame {
        background-color: wheat;
    }
    #containerBoard {
        background-color: wheat;
    }
    .playerName {
        color: #0c483f;
    }
    .mat-progress-spinner circle, .mat-spinner circle {
        stroke: wheat;
    }
    .material-symbols-outlined {
        background-color: wheat;
        color: #0c483f;
    }
    ::-webkit-scrollbar-track {
        background: #0c483f;
    }
    ::-webkit-scrollbar-thumb {
        background: wheat;
    }
    #playerToPlay{
        color: wheat;
    }
    .playerName{
        color: wheat;
        background-color: #0C483F;
    }
    #tableRoom tr:hover {
        background-color: wheat;
        color: #0C483F;
    }
    #tableRoom th{
        background-color: wheat;
        color: #0C483F;
    }
    #buttonShowModal{
        background-color: wheat;
        color: #0C483F;
    }
    #buttonShowModal:hover{
        background-color: #0C483F;
        color: wheat;
    }
    .chatRoomElement{
        background-color: wheat;
        color: #0C483F;
    }
    .chatRoomElementPressed{
        background-color: #0C483F;
        color: wheat;
        border-color: wheat;
    }
    #cancelBtnPowerModal{
        background-color: #0C483F;
        color: wheat;
    }
    .result {
        color: #ffffff;
        font-size: large;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        overflow-y: auto;
        margin-bottom: 5px;
    }
    .title-box {
        max-width: 100%;
        background-color: wheat;
        margin-bottom: 10px;
    }
    .title {
        font-size: x-large;
        text-align: center;
        justify-content: center;
        margin-top: 2%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-right: 50px;
        color: #0C483F;
    }
    #title-box-profile{
        background-color: wheat;
        color: #0C483F;
    }
}

body.my-light-mode {
    transition: color 1s ease;
    background-color: wheat;
    color: #0c483f;
    border-color: #0c483f;
    #container {
        background-color: wheat;
    }
    #main {
        background-color: wheat;
    }
    button {
        background-color: #0C483F;
        color: wheat;
        border-color: wheat;
        border: wheat;
    }
    mat-button {
        background-color: #0c483f;
        color: wheat;
        border-color: wheat;
        border: wheat;
    }
    input {
        background-color: wheat;
        color: #0c483f;
        border-color: #0c483f;
    }
    .card {
        background-color: wheat;
        color: #0c483f;
        border-color: #0c483f;
    }
    .mat-dialog-container{
        background-color: wheat;
        color: #0c483f;
        border-color: #0c483f;
    }
    .modal{
        color: wheat;
    }
    .modal-content{
        background-color: #0c483f;
        color: wheat;
    }
    #timer {
        background-color: wheat;
        color: #0c483f;
    }
    #align{
        background-color: wheat;
        color: #0c483f;
    }
    mat-form-field {
        color: #0c483f;
    }
    mat-label {
        color: #0c483f;
    }
    .mat-select-arrow {
        color: #0c483f;
    }
    .mat-select-value {
        color: #0c483f;
    }
    .MPButton {
        color: #0c483f;
    }
    td {
        border: wheat;
        border-color: wheat;
    }
    .flip-card-front {
        background-color: wheat;
        color: #0c483f;
    }
    .flip-card-back {
        background-color: wheat;
        color: #0c483f;
    }
    .material-symbols-outlined {
        background-color: #0c483f;
        color: wheat;
    }
    mat-grid-list {
        background-color: #0c483f;
        color: wheat;
    }
    .gridContainerInGame {
        background-color: #0c483f;
    }
    .play-area-container {
        background-color: #0c483f;
    }
    .playerName {
        color: wheat;
    }
    .mat-progress-spinner circle, .mat-spinner circle {
        stroke: #0c483f;
    }
    #containerBoard {
        background-color: #0c483f;
    }
    ::-webkit-scrollbar-track {
        background: wheat;
    }
    ::-webkit-scrollbar-thumb {
        background: #0C483F;
    }
    #playerToPlay{
        color: #0C483F;
    }
    .playerName{
        color: #0C483F;
        background-color: wheat;
    }
    #tableRoom tr:hover {
        background-color: #0C483F;
        color: wheat;
    }
    #tableRoom th{
        background-color: #0C483F;
        color: wheat;
    }
    #buttonShowModal{
        background-color: #0C483F;
        color: wheat;
    }
    #buttonShowModal:hover{
        background-color: wheat;
        color: #0C483F;
    }
    .chatRoomElement{
        background-color: #0C483F;
        color: wheat;
    }
    .chatRoomElementPressed{
        background-color: wheat;
        color: #0C483F;
        border-color: #0C483F;
    }
    #cancelBtnPowerModal{
        background-color: wheat;
        color: #0C483F;
    }
    .result {
        color: black;
        font-size: large;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        overflow-y: auto;
        margin-bottom: 5px;
    }
    .title-box {
        max-width: 100%;
        background-color: #0C483F;
        margin-bottom: 10px;
    }
    .title {
        font-size: x-large;
        text-align: center;
        justify-content: center;
        margin-top: 2%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-right: 50px;
        color: wheat;
    }
    #title-box-profile{
        background-color: #0C483F;
        color: wheat;
    }
}

.customDialog .mat-dialog-container {
    overflow-y: hidden!important;
}

.ngx-gallery {
    display: inline-block;
    margin-bottom: 20px;
}
