<div class="container justified">
    <div id="profileWrapper">
        <div class="subcontainer justified">
            <img [src]="this.data.userInfo.avatarUri" id="profile"/>
            <h1>{{this.data.userInfo.name}}</h1>
            <div id="statsContainer">
                <h2>{{'PROFILE_READ_ONLY.STATS' | translate}}</h2>
                <mat-grid-list cols="2" rowHeight="2:1" id="statsList">
                    <mat-grid-tile class="statsElement">{{'PROFILE_READ_ONLY.GAMES_PLAYED' | translate}}{{this.data.userInfo.gamesPlayed}}</mat-grid-tile>
                    <mat-grid-tile class="statsElement">{{'PROFILE_READ_ONLY.GAMES_WON' | translate}}{{this.data.userInfo.gamesWon}}</mat-grid-tile>
                    <mat-grid-tile class="statsElement">{{'PROFILE_READ_ONLY.AVERAGE_SCORE' | translate}}{{this.data.userInfo.averagePointsPerGame.toFixed(2)}}</mat-grid-tile>
                    <mat-grid-tile class="statsElement">{{'PROFILE_READ_ONLY.AVERAGE_TIME' | translate}}{{this.millisToMinutesAndSeconds()}}</mat-grid-tile>
                </mat-grid-list>

            </div>
        </div>
    </div>
</div>
