<div class="container justified">
    <img src="https://i.imgur.com/nyRorRT.png" height="400" alt="Logo Scrabble" id="logoScrabble"/>
    <button mat-flat-button id="loginBtn" class="button"
            routerLink="/login">
        {{ 'LOGIN' | translate }}
    </button>
    <div class="footer-item">
        <h4 class="team-name">Équipe Poly 102</h4>
        <p>
            <span>Aghiles Gasselin </span>, <span>Corentin Glaus</span>, <span>Marc-Antoine Baillargeon</span>, <span>Maximiliano
                Falicoff </span>, <span>Mohamed Fenjiro</span>, <span>Stephane Toyo Demanou </span>
        </p>
    </div>
</div>
