#container {
    width: 30%;
    height: 30%;
    bottom: 35%;
    left: 20%;
    background-color: white;
    z-index: 2;
    // background: #0c483f;
    font-size: large;
    border-radius: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
    align-self: center;
    position: fixed;
}

.container-1 {
    display: flex;
}

.container-1 div,
.container-2 div {
    padding: 10px;
}

.container-1-box {
    margin-top: 50px;
    height: 80%;
    text-align: center;
}

.box-1 {
    order: 1;
    flex: 1;
    text-align: center;
    margin-top: 20px;
}

.box-3 {
    flex: 1;
    order: 3;
    text-align: center;
    margin-top: 20px;
}

.startButton {
    top: 0%;
    position: relative;
    text-align: center;
    height: 20%;
    width: 150px;
    border-radius: 15px;
    
    font-size: 18px;
}

.createButton {
    height: 50px;
    width: 120px;
    top: 10px;
    border-radius: 5px;
    
    
}

// Les boutons ne répondent pas, aucun idée pourquoi

.game .button-players {
    position: absolute;
    left: 80%;
    top: 15%;
    display: inline;
    height: 75%;
}

.gamesgrid {
    top: 100px;
    width: 100%;
    margin: 0;
    display: grid;
    grid-gap: 1rem;
}

.roomList {
    border: solid 3px;
    
    height: 40%;
    width: 50%;
    border-radius: 3px;
    margin-left: 5%;
    margin-top: 1%;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow-y: auto;
    overflow-x: auto;
}

//center the roomListTitle
#roomListTitle {
    text-align: center;
    margin-top: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    // Height of horizontal scroll bar
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
}

#tableRoom {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tableRoom td,
#tableRoom th {
    padding: 8px;
}

#tableRoom tr:hover {
    
    
}

#tableRoom th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    
    
}

#tableRoom td {
    border-bottom: 2px solid;
}

#buttonShowModal {
    
    
    font-size: 16px;
    border-radius: 3px;
    border: none;
    padding: 5px;
}

#buttonShowModal:hover {
    
    
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    
}

/* Modal Content/Box */
.modal-content {
    
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    border-radius: 10px;
    width: 20%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    cursor: pointer;
}

#creatorOfGame {
    text-align: center;
}

.listPlayersStyle {
    list-style: none;
}

.elementList {
    font-size: 30px;
}

mat-slider {
    width: 20%;
    border-radius: 110px;
    height: 100px;
}
