<div id="container" class="center">
    <div id="container-content">
        <div class="container-1">
            <div class="box-1">
                <label>{{'RANKED.MAXIMUM_RATING' | translate}}</label>
                <br />
                <p>{{ this.eloDisparity }}</p>
                <mat-slider min="20" max="100" step="1" value="60" (change)="onEloDisparityChange($event)"></mat-slider>
                <br />
                <button mat-flat-button class="startButton" (click)="onConfirm()" routerLink="/ranked-matchmaking">Confirm</button>
            </div>
        </div>
    </div>
</div>
